.slider-controls {
  display: grid;
  gap: 15px;

  &__arrows {
    display: flex;
    column-gap: 5px;

    button {
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }
    button:hover {
      opacity: 0.8;
    }
  }

  &__count {
    display: flex;
    column-gap: 6px;
    justify-content: flex-end;
    align-items: flex-end;

    color: rgba($color: #fff, $alpha: 0.3);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: right;

    &-current,
    .swiper-pagination-current {
      font-size: 32px;
      line-height: 0.75;
      color: #fff;
    }
  }
}
